h1{
    color: red;
}

.special{
   color: orange; 
   font-weight: bold;
}

li em{
    color: rebeccapurple;
}

h1 + P{
    font-size: 200%;
}

p span{
    color: red;
}

a:link{
    color: pink;
}

a:visited{
    color: green;
}

a:hover{
    text-decoration: none;
}